:root {
  --orange-color: rgb(192, 141, 131);
  --green-color: rgb(195, 205, 116);
  --blue-color: rgb(84, 132, 209);
  --dark-color: rgb(42, 40, 45);
  --grey-color: rgb(148 148 162);
  --box-shadow: 0 5px 10px rgba(148, 148, 162, 0.7);
}

body {
  display: block;
  padding-top: 100px;
  background-color: var(--dark-color);
}

h1,
h2,
h3 {
  margin: 0;
}
h1,
h2 {
  color: var(--blue-color);
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  color: var(--orange-color);
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  margin: 0px 0px 16px;
  color: var(--orange-color);
}

.about-link {
  color: var(--green-color);
  border: 1px solid var(--green-color);
}
.about-paragraphs p {
  margin: 20px;
  text-align: center;
}

.contact {
  margin-bottom: 30px;
}
.container-content{
  border-radius: 10px;
  border: 2pt solid var(--green-color);
}

.contact-link {
  background: var(--green-color);
  box-shadow: var(--box-shadow);
  color: var(--dark-color);
  margin: 0px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--orange-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.images-about {
  box-shadow: var(--box-shadow);
}
.navbar-color {
  background: var(--green-color);
}

.navbar-toggler {
  color: var(--dark-color);
}
.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.photoMe {
  width: 60px;
  border-radius: 50%;
}
.outlineBox {
  padding: 100px;
  margin: 10px auto;
  background-color: var(--dark-color);
}
@media (max-width: 768px) {
  p,
  h1,
  h2,
  h3 {
    text-align: center;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  .contact-link {
    display: flex;
    justify-content: center;
    margin: 0 30px;
  }
  .container-content {
    text-align: center;
  }
}
