:root {
  --orange-color: #da3b1b;
  --green-color: rgb(225, 237, 137);
  --blue-color: rgb(84, 132, 209);
  --grey-color: rgb(148 148 162);
  --box-shadow: 10px 5px 10px rgba(148, 148, 162, 0.8);
  --transition-type: all 100ms ease-in-out;
}

body {
  padding-top: 120px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
h1,
h2 {
  color: var(--blue-color);
}
h1 {
  font-size: 120px;
  font-stretch: expanded;
}
h2 {
  font-size: 60px;
  margin-bottom: 15px;
}

h3 {
  font-size: 35px;
  color: var(--blue-color);
}

h4 {
  font-size: 18px;
  color: var(--blue-color);
}

p {
  border-radius: 4px;
  font-size: 15px;
  line-height: 1.5;
  margin: 0px 0px 16px;
}
footer {
  margin-top: 60px;
  margin-bottom: 50px;
}

.about-link {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  font-weight: 700;
  text-align: center;
  transition: var(--transition-type);
}

.about-link:hover {
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.contact-link {
  background-color: var(--blue-color);
  color: white;
  border: 1px solid var(--blue-color);
  font-weight: 600;
  text-align: center;
  transition: var(--transition-type);
}

.contact-link:hover {
  background-color: var(--orange-color);
  color: white;
  border: 1px solid var(--orange-color);
}

.divMargins {
  margin-top: 40px;
  margin-bottom: 30px;
}

.divMargins img {
  margin: auto;
  display: block;
}

.email-link {
  color: var(--orange-color);
  text-decoration: none;
  transition: var(--transition-type);
}

.email-link:hover {
  text-decoration: underline;
}

.launch-link {
  background: var(--orange-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  transition: var(--transition-type);
}

.launch-link:hover {
  color: white;
  opacity: 0.8;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.photoMe {
  width: 60px;
  border-radius: 50%;
}

.photosApps {
  border: 40px solid var(--blue-color);
}

.socialMedia-links a {
  margin: 0 20px;
  color: white;
  background: var(--orange-color);
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 10px;
  transition: var(--transition-type);
}

.socialMedia-links a:hover {
  color: white;
  opacity: 0.8;
}

.socialMedia-links h4 {
  color: var(--orange-color);
  font-weight: 700;
}

.socialMedia-box{
  margin: 50px;
  padding: 30px 15px;
  border:  2px solid var(--orange-color);
}

.textApps {
  border: none;
}

.textMeMargins {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  p,
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }

  .launch-link {
    display: flex;
    justify-content: center;
    margin: 0px 60px;
  }

  .textApps {
    border: 2px solid var(--orange-color);
    padding-top: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
  }

  .first {
    display: grid;
    justify-content: center;
  }

  .second {
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .socialMedia-box{
    border-radius: 8px;
  }

  .textMeMargins {
    margin-bottom: 0px;
  }
}
