:root {
  --orange-color: rgb(230, 72, 40);
  --green-color: rgb(225, 237, 137);
  --blue-color: rgb(84, 132, 209);
  --grey-color: rgb(148 148 162);
  --box-shadow: 0 5px 10px rgba(148, 148, 162, 0.7);
}

body {
  padding-top: 120px;
}

h1,
h2,
h3 {
  margin: 0;
}
h1,
h2 {
  color: var(--blue-color);
}
h1 {
  font-size: 120px;
  font-stretch: expanded;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
  color: var(--orange-color);
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  margin: 0px 0px 16px;
  color: var(--orange-color);
}

.about-link {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  font-weight: 700;
}
.about-link:hover {
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
}
.about-paragraphs p {
  margin: 20px;
  text-align: center;
}

.contact {
  margin-bottom: 30px;
}
.contact-link {
  background-color: var(--blue-color);
  color: white;
  border: 1px solid var(--blue-color);
  font-weight: 600;
}
.contact-link:hover {
  background-color: var(--orange-color);
  color: white;
  border: 1px solid var(--orange-color);
}

.launch-link {
  background: var(--orange-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
}
.launch-link:hover {
  color: white;
  opacity: 0.8;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--orange-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.images-about {
  box-shadow: var(--box-shadow);
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.photoMe {
  width: 60px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  p,
  h1,
  h2,
  h3 {
    text-align: center;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  .contact-link {
    display: flex;
    justify-content: center;
    margin: 0 30px;
  }
  .container-content {
    text-align: center;
  }
}
